@model Products.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create Product</h2>


<h3 style="font-size:35px; color:red;">
    @ViewBag.Message
</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DisplayNameFor(x => x.BrandName)
        @Html.TextBoxFor(x => x.BrandName, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BrandName)
    </div>
    <br />
    <div class="form-group">
        @Html.DisplayNameFor(x => x.ModelNo)
        @Html.TextBoxFor(x => x.ModelNo, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ModelNo)
    </div>
    <br />
    <div class="form-group">
        @Html.DisplayNameFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description)
    </div>
   
    <br />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success" />
    </div>

}


